.post {
  padding: 1rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  display: grid;
  grid-gap: 0.4rem;
  transition: 0.2s ease-out;
}

.post:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
